* {
    padding: 0;
    margin: 0;
}
body {
    background: url(../img/body.jpg) no-repeat;
    background-size: cover;
}
span {
    display: block;
    text-align: center;
    color: white;
    font-size: 100px;
    position: fixed; 
}
.wrapper_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 'c';
}
.game {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-areas: "m c";
  margin-left: -100px;
}
canvas {
    border-radius: 0px 10px 10px 10px;
    background: #183052;
    box-shadow: #12233b 2px 3px 2px 5px;
}
.wrapper {
    height: 600px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 'c';
}
.difficult {
    margin: 0;
    padding: 0;
    background: #f0c550;
    border-radius: 5px 0px 0px 5px;
    width: 100px;
    height: 200px;
    grid-area: 'm';
    text-align: center;
}
.change_dif {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    color:  #6e4318;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.difficult ul li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
}
.difficult ul {
    padding-bottom: 10px;
}
.difficult ul li button {
    width: 70px;
    background: #ffa500;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    outline: none;
}
.easy {
    box-shadow: #b3923a 1.5px 1.5px 1.5px 1.5px;
}
.start {
    position: absolute;
    z-index: 9999;
    width: 250px;
    height: 200px;
    background: #abcdef;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    box-shadow: #12233b 2px 3px 2px 5px;
}
.text3 {
    opacity: 0;
    animation: ready 1s 1 ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.text2 {
    opacity: 0;
    animation: ready 1s 1 ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.text1 {
    opacity: 0;
    animation: ready 1s 1 ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes ready{
 0%{
    opacity: 0;
 }
 50%{
     opacity: 1;
     font-size: 150px;
 }
 100%{
   opacity: 0;
   display: none;
   font-size: 150px;
   
 }
}
.change_sound {
    width: 30px;
    height: 30px;
    background: #ffa500;
    outline: none;
    border: none;
    box-shadow: #b3923a 1.5px 1.5px 1.5px 1.5px;
}
.restart {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border: none;
    background: #ffa500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    box-shadow: #b3923a 1.5px 1.5px 1.5px 1.5px;
    visibility: hidden;
}
.pause {
    margin-left: 5px;
    outline: none;
    border: none;
    box-shadow: #b3923a 1.5px 1.5px 1.5px 1.5px;
    background: #ffa500;
}
.paused {
    position: absolute;
    z-index: 1000;
    width: 250px;
    height: 200px;
    background: #abcdef;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    border: none;
    outline: none;
    visibility: hidden;
    border-radius: 15px;
    box-shadow: #12233b 2px 3px 2px 5px;
}